<!doctype html>
<html lang="en">
<head>
  <%- include('../partials/meta', {page: page}); %>
  <!-- base stylesheets -->
  <%- include('../partials/common_css'); %>

  <!-- module stylesheets -->

  <!-- page stylesheets -->
  <link rel="stylesheet" href="/css/help.css">

</head>
<body>

  <%- include('../partials/left_nav', {page: page}); %>
  <%- include('../partials/top_nav', {page: page}); %>

  <!-- Your Content -->
  <div id="content">

  <!-- info -->
  <section class="main-content">
    <div class="container-fluid main-content-container">
      <h1 style="text-align: 'center';">Sorry, Page Under Construction</h1>
    </div>
  </section>
</div>

  <!-- base scripts -->
  <%- include('../partials/common_scripts'); %>

  <!-- modules scripts -->

  <!-- page scripts -->

</body>
<html>
