<!doctype html>
<html lang="en">
<head>
  <%- include('../partials/meta', {page: page}); %>

  <!-- base stylesheets -->
  <%- include('../partials/common_css'); %>

  <!-- module stylesheets -->

  <!-- custom stylesheets -->
  <link rel="stylesheet" href="/css/index.css">

</head>
<body>

  <%- include('../partials/left_nav', {page: page}); %>
  <%- include('../partials/top_nav', {page: page}); %>


  <!-- Your Content -->
  <div id="content">

    <div class="table-buttons-wrapper">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-xs-12 text-center">
          <input type="button" class="table-btn" id="newdata" onclick="document.location.href = '/event/newdata';" value="Start Event Creation">
          <input type="button" class="table-btn" onclick="document.location.href = '/event/search';" value="Search Event Data">
        </div>
      </div>
    </div>

    <section class="main-content">

      <div class="container-fluid main-content-container">
        <div class='row'>
          <div class="col-sm-12 col-md-12 col-xs-12 text-center">
            <h3>
              Submitted Data Will Be Processed At:
            </h3>
            <h4>05:00:00 AM</h4>
            <h4>12:00:00 PM</h4>
            <h3 id="date" class="paddingdate"></h3>
            <div class="row">
              <div class="col-sm-2 col-md-2 col-xs-2 text-center"></div>
              <div class="col-sm-4 col-md-4 col-xs-4 text-center">
                <p>
                  Website Support:<br>
                  <a href="mailto:QAutomation@Omers.com?Subject=Issue&#58%20Enrollment%20Data%20Web%20App" target="_top">QAutomation@Omers.com</a>
                </p>
              </div>
              <div class="col-sm-4 col-md-4 col-xs-4 text-center">
                <p>Visit Our <a href="./help">Help Page</a><br>
                For a Detailed Documentation
                </p>

              </div>
              <div class="col-sm-2 col-md-2 col-xs-2 text-center"></div>
            </div>
          </div>
        </div>
      </div>





    </section>

  </div>

  <script>
    var user = <%- JSON.stringify(user) %>;
  </script>

  <!-- base scripts -->
  <%- include('../partials/common_scripts'); %>

  <!-- modules scripts -->
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>

  <!-- page scripts -->
  <script type="text/javascript" src="/js/index.js"></script>

</body>
<html>
