<!doctype html>
<html lang="en">
<head>
  <%- include('../partials/meta', {page: page}); %>
  <!-- base stylesheets -->
  <%- include('../partials/common_css'); %>

  <!-- module stylesheets -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css">

  <!-- page stylesheets -->
  <link type="text/css" rel="stylesheet" href="/css/newdata.css" />


</head>
<body>

  <div id='screenlock'></div>
  <%- include('../partials/left_nav', {page: page}); %>
  <%- include('../partials/top_nav', {page: page}); %>

  <div id="content">

    <section class="main-content">

      <div id="iDPopup" class="popup">
        <h4>ClientID:</h4>
        <input type="number" id="IDInput" name="IDInput" class="inputbox" placeholder="Enter Your Client ID" required></input>
        <h4>UserID:</h4>
        <input type="text" id="UserIDInput" name="UserIDInput" class="inputbox" placeholder="Enter a UserID" required></input>

        <input type="button" id="submitEnrollmentID" class="dialog-btn IDModal-btn" value="Next"></input>
        <input type="button" class="dialog-btn IDModal-btn" value="Cancel" onclick="document.location.href='/'"></input>
      </div>

      <div id="confirmPopup" class="popup">
        <input type="button" id="yes" class="dialog-btn IDModal-btn" value="Yes" ></input>
        <input type="button" id="no" class="dialog-btn IDModal-btn" value="No"></input>
      </div>

      <div id="newSourceDataPopup" class="popup">
        <input type="number" id="masterStartYear" class="inputbox" placeholder="Enter Source Data Start Year (YYYY)" required></input>
        <input type="number" id="masterEndYear" class="inputbox" placeholder="Enter Source Data End Year (YYYY)" required></input>
        <input type="hidden" id="SDEmployer" class="inputbox" placeholder="EmployerID"></input>
        <input type="submit" id="submitSDYears" class="dialog-btn IDModal-btn" value="Next"></input>
      </div>

      <div id="existingSourceDataPopup" class="popup">
        <input type="number" id="existingStartYear" class="inputbox" placeholder="Enter Source Data Start Year (YYYY)" required></input>
        <input type="number" id="existingEndYear" class="inputbox" placeholder="Enter Source Data End Year (YYYY)" required></input>
        <input type="hidden" id="existingEmployer" class="inputbox" placeholder="EmployerID"></input>
        <select id="existingServiceEarningsType" class="inputbox" required>
          <option disabled selected>Choose ServiceEarningsType</option>
          <option value="CR1">CR1</option>
          <option value="PA1">PA1</option>
        </select>
        <input type="text" id="existingContributionType" class="inputbox" placeholder="ContributionType" required></input>
        <input type="submit" id="submitExistingSD" class="dialog-btn IDModal-btn" value="Next"></input>
      </div>

      <div id="newDataPopup" class="popup">
        <button class='dialog-btn' type='button' id='insertNewRow'>Next</button>
        <div class="dialog-content newdata-content" id="dialog-textboxes">

        </div>
      </div>

      <div step='0' class='table-container' hidden>
        <p>Enrollment</p>
        <div id="enrollmentTable" class='table' ></div>
      </div>
      <div step='1' class='table-container'  hidden>
        <p>Source Data</p>
        <div id="sdTable" class='table'></div>
      </div>
      <div step='2' class='table-container'  hidden>
        <p>Event Reporting</p>
        <div id="reportingTable" class='table'></div>
      </div>
      <div step='3' class='table-container'  hidden>
        <p>Event Election</p>
        <div id="electionTable" class='table'></div>
      </div>

      <div class="table-buttons-wrapper" hidden>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-xs-12 text-center">
            <input type="button" class="home table-btn" id="home" value="Home" onclick = "document.location.href = './'" />
            <input type="button" class="save table-btn" id="submit" value="Submit" />
          </div>
        </div>
      </div>

    </section>

  </div>


  <script>
    var user = <%- JSON.stringify(user) %>;
    var page = <%- JSON.stringify(page) %>;
  </script>


  <!-- base scripts -->
  <%- include('../partials/common_scripts'); %>

  <!-- modules scripts -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

  <!-- page scripts -->
  <script type="text/javascript" src='/js/event/fields.js'></script>
  <script type="text/javascript" src='/js/common/build_fields.js'></script>
  <script type="text/javascript" src='/js/event/newdata/table.js'></script>
  <script type="text/javascript" src='/js/event/newdata/popup.js'></script>
  <script type="text/javascript" src='/js/event/newdata/page.js'></script>

  <script>
    page.init("#enrollmentTable","#sdTable","#reportingTable",
      "#electionTable","#confirmPopup","#existingSourceDataPopup",
      "#newSourceDataPopup", "#newDataPopup", "#iDPopup")
  </script>

</body>
</html>
